body {
  font-family: Arial, sans-serif;
}

.input-container {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  width: 100px;
  margin: 30px;
}
.input {
  width: 125px;
  padding: 10px;
  font-size: 16px;
  margin-left: 10px;
}
#button-container {
  width: 600px;
  display: block;
  padding: 10px 20px;
  margin: 20px 25%;
  font-size: 16px;
}
button {
  padding: 10px 20px;
  font-size: 20px;
  margin: 0 10px;
}

#result {
  font-weight: bold;
  margin-left: 25px;
}
